.navbar {
    display: flex;
    align-items: center;
    background-color: var(--menu-color);
    justify-content: space-between;
    padding: 1rem 8rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;


}

.navbar .brand a img {
    width: 6rem;
    height: 8rem;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar .nav-links li {
    list-style: none;
    margin-top: 1rem;
    padding: 0 2rem;
}


.navbar .nav-links li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    transition: 0.3s ease-in-out;
    position: relative;
}

.navbar .nav-links li a:hover,
.navbar .nav-links li a.active {
    color: var(--menu-hover-color);

}

.nav-links li a::after,
.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0%;
    border-bottom: 0.2rem solid var(--menu-hover-color);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

}

.nav-links li a:hover:after,
.nav-links li a.active::after {
    width: 100%;
}



.nav-links .login-btn {
    width: 10rem;
    margin-left: 100px;


}

.nav-links .login-btn a {
    text-decoration: none;
    color: var(--menu-hover-color);
    border: 0.2rem solid var(--menu-hover-color);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all 0.2 linear;
    position: relative;



}

.nav-links .login-btn a:hover {
    border-width: 0.3rem;
    transition: 0.2s linear;
    font-weight: bold;

}

.dropdown-menu {
    background-color: var(--menu-color);
}

.mobile {
    display: none;
}

.mobile i svg {
    color: var(--menu-link-color);
    size: 20px;
}

@media screen and (max-width:910px) {
    .navbar .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 8.9rem;
        right: -30rem;
        width: 30rem;
        height: 100vh;
        background-color: var(--mobile-menu-color);
        transition: all 0.5s linear;
        padding: 4rem 0 0 1rem;
    }

    .nav-links.active {
        right: 0;
    }

    .mobile {
        display: block;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .mobile i {
        cursor: pointer;
    }
}

@media screen and (max-width:650px) {
    .navbar {
        padding: 1rem 5rem;
    }
}


/* =================== admin header ============== */
.admin-navbar {
    display: flex;
    align-items: center;
    background-color: rgb(98, 98, 230);
    justify-content: space-around;
    margin-top: 8rem;
    padding: 1rem 8rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.admin-navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}


.admin-navbar .nav-links li {
    list-style: none;
    margin-top: 1rem;
    padding: 0 2rem;
}


.admin-navbar .nav-links li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    transition: 0.3s ease-in-out;
    position: relative;
}

.admin-navbar .nav-links li a:hover,
.admin-navbar .nav-links li a.active {
    color: var(--menu-hover-color);

}

.nav-links li a::after,
.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0%;
    border-bottom: 0.2rem solid var(--menu-hover-color);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

}

.nav-links li a:hover:after,
.nav-links li a.active::after {
    width: 100%;
}


@media screen and (max-width:600px) {
    .admin-navbar .nav-links li {
        padding: 0 1rem;
    }

    .admin-navbar .nav-links li a {
        font-size: 1.5rem;
    }

}